@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navSky {
  position: fixed;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  background-color: #5d4954;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

#navSky .logo {
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
}

#navSky .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

#navSky .nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 17px;
}

#navSky .nav-links .active {
  border-bottom: 2px solid;
}

#navSky .nav-links a:hover {
  border-bottom: 2px solid;
}

#navSky .nav-links li {
  list-style: none;
}

#navSky .burger {
  display: none;
}

#navSky .burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main {
  padding-top: 8vh;
}

@media screen and (max-width: 1224px) {
  #navSky .nav-links {
    width: 42%;
  }
}

@media screen and (max-width: 1024px) {
  #navSky .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #navSky .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #navSky .nav-links li {
    opacity: 0;
  }
  #navSky .burger {
    display: block;
    cursor: pointer;
    color: #e2e2e2;
  }
  #navSky .nav-active {
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navSky {
  position: fixed;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  background-color: #5d4954;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

#navSky .logo {
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
}

#navSky .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

#navSky .nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 17px;
}

#navSky .nav-links .active {
  border-bottom: 2px solid;
}

#navSky .nav-links a:hover {
  border-bottom: 2px solid;
}

#navSky .nav-links li {
  list-style: none;
}

#navSky .burger {
  display: none;
}

#navSky .burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main {
  padding-top: 8vh;
}

@media screen and (max-width: 1224px) {
  #navSky .nav-links {
    width: 42%;
  }
}

@media screen and (max-width: 1024px) {
  #navSky .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #navSky .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #navSky .nav-links li {
    opacity: 0;
  }
  #navSky .burger {
    display: block;
    cursor: pointer;
    color: #e2e2e2;
  }
  #navSky .nav-active {
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

a {
  text-decoration: none;
  color: burlywood;
}
/*# sourceMappingURL=main.css.map */