<!DOCTYPE html>
<html lang="en">

<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../../css/main.css">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>

<body>
  <section id="home"></section>
  <!-- example 1 gold Dark -->
  <nav class="navbar" id="navbar">
    <div class="logo">
      <h4>The Sky</h4>
    </div>
    <ul class="nav-links ">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#articles">Articles</a></li>
      <li><a href="#contact">Contacts</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <main>
    <section>
      <p id="demo">some demo</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <a href="https://teamtreehouse.com/vr" target="_blank">
        Start Your VR Journey
      </a>
    </section>
    <section id="about">
      <h2>About this site</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        <span>Lorem ipsum dolor sit amet,</span> consectetur adipisicing elit.
        Voluptas exercitationem, odio doloremque recusandae numquam esse velit
        ipsum nemo eius debitis eligendi vero sequi voluptatum incidunt,
        consequatur cumque dolorem! Incidunt, explicabo?
      </p>
      <figure>
        <!-- <img src="img/flightToSpace.jpg" alt="Space" /> -->
        <figcaption>Virtual reality user can explore</figcaption>
      </figure>
    </section>
    <section id="articles">
      <h2>Latest VR Articles</h2>
      <article>
        <header>
          <h3>How School use Virtual Reality to Improve Education</h3>
          <p>By: Jon Luz</p>
        </header>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptatibus rerum reprehenderit incidunt error repellendus nam?
          Consectetur excepturi rerum ratione accusamus, architecto ipsum
          assumenda, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <a href="articles/2017/article.html#vr-article">Read more</a>
        <footer>Publish: June 12, 2020</footer>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
          tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
          excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
          quibusdam? Quibusdam, maxime?
        </p>
      </article>
      <article>
        <header>
          <h3>The Advantages of VR Simulation</h3>
        </header>
        <p>By: Nick Park</p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta non
          animi ullam eius officiis debitis fugiat cum a voluptatem velit,
          nesciunt aspernatur sunt ducimus aliquam in odio! Sit, commodi
          nihil?
        </p>
        <a href="articles/2017/article.html#vr-article">Read more</a>
        <footer>Publish: June 17, 2020</footer>
      </article>

      <h3>The Advantage of VR</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio,
        temporibus mollitia qui laborum, dolores repudiandae eligendi odio
        doloremque assumenda totam, explicabo iste dolore numquam quod
        nesciunt recusandae corporis fugit deserunt.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias
        delectus vero iusto vitae totam deleniti, libero qui doloremque hic
        exercitationem minima ex quibusdam fugit deserunt ipsa recusandae
        beatae laborum incidunt?
      </p>
    </section>
    <section id="contact">
      <h2>Contact</h2>
      <p>
        <strong>Email: </strong>
        <a href="mailto:jjy@hot.com?subject=Hi%20There" target="_blank">jjy@hot.com</a>
      </p>
      <p><strong>Phone: </strong> 702-885-4521</p>
      <p><strong>Address: </strong></p>
      <address>
        Experience VR <br />
        2017 Virtual Way <br />
        City, State 33437
      </address>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad
        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ad

        tempora, aut saepe nesciunt odio nemo maiores et quidem repellat,
        excepturi iusto. Aperiam eveniet accusantium mollitia perferendis
        quibusdam? Quibusdam, maxime?
      </p>
    </section>
  </main>

  <h3>Top VR Resources</h3>
  <ol>
    <li><a href="#"> Learn to create educational experiences in VR</a></li>
    <li><a href="#">Virtual Reality in Entertainment</a></li>
    <li><a href="#">Interact with buildings and products in VR</a></li>
    <li><a href="#">Use VR for teleconferencing and social media</a></li>
  </ol>
  <hr />
  <blockquote>
    Virtual reality was once the dream of science. But the internet was also
    once adream, and so were computers and smartphones. The future is coming.
    <footer>
      <cite><a href="https://google.com" target="_blank">
          - Mark Zuckerberg
        </a></cite>
    </footer>
  </blockquote>
  <footer>
    <p><small> &copy;2020 Experience VR, The blog</small></p>
  </footer>
  </div>
  <script src="./js/navbar.js"></script>
</body>

</html>